
# Configuration file for javaFUSE used by BrowseFS.
# Consists of key/value pairs separated by spaces.
# 0 = False, 1 = True

# Name of Java class (should implement the JavaFS interface)
# This is a required value!
CLASSNAME browsefs/BrowseFS

# Print debug output? This only works when run in foreground.
DEBUG 0

# Copy meta-data only? See write() call.
META_DATA_ONLY 0

# Call pre java methods?
PRE_CALL 1 

# Call post java methods?
POST_CALL 1

# Make system calls between pre and post java calls?
SYS_CALL 1

# Set here any external files/folders that should be included in the JVM classpath.
#CLASSPATH /usr/share/je-3.3.62/lib/je-3.3.62.jar
